<body class="speckle">
	<header>
		<h1>Checkout</h1>
		<a class="logout" href="/logout"></a>
	</header>
		<ul>
			<% @total_check_out.each do |order| %>
			 	<%= order.item.name %> - <%= order.amount %> <br>
			<% end %>
		</ul>
</body>