<body class="speckle">
	<header>
		<h1>Checkout</h1>
	</header>
		<div class="container">
			
			<ul>
				<% @total_check_out.each do |order| %>
			 		<%= order.item.name %> - <%= order.amount %> <br>

				<% end %>

				<h3>Total</h3>
				<p>$<%= '%.2f' % @bill %></p>
				<a class="submit" href="/logout" >go get yo food ya dingus</a>
			</ul>
		</div>
</body>