<body class="lobsta">
		
	
		<section>
				  <div class="container">
						<nav>
							<a class="hola" href="/home/register">Sign Up</a>
							<a class="hola" href="/menu" style="float:right">Menu</a>
						</nav>
						<h1>
							<a href="/home">
								<img src="http://i.imgur.com/xV0fiFg.png" alt="Court Street Lobster"/>
							</a>
						</h1>
					
					<div class="text-center">
						<img class="homeIcon" src="http://i.imgur.com/A2EUakM.png"/>
						<img class="homeIcon" src="http://i.imgur.com/FgoGl4U.png"/>
						<img class="homeIcon" src="http://i.imgur.com/TiPAWIH.png"/>
					</div>
						<div class="text-center message">
							<%= @message %>
						</div>
					<form class="registration-form" action="/home" method="POST">
						<label>
							<span class="label-text">Username</span>
							<input type="text" name="username">
						</label>
						<label class="password">
							<span class="label-text">Password</span>
							<input type="password" name="password">
						</label>
						<div class="text-center">
							<button class="submit" name="register">Log In</button>
						</div>
						
					</form>
				</div>
		</section>
</body>	