@font-face {
  font-family: Barley;
  src: url(/public/img/fonts/Barley-Regular.otf);
}
@font-face {
  font-family: lato;
  src: url(/public/img/fonts/Lato-Light.ttf);
}
.notfound {
  color: #001155;
}
.speckle {
  color: #001155;
  background-image: url('http://i.imgur.com/1vqkZcZ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.lobsta {
  color: #001155;
  background-image: url('http://i.imgur.com/QKD3qNr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
footer {
  color: #b2b2b2;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: rgba(50, 50, 50, 0.6);
  text-align: center;
  margin-bottom: -10px;
}
.git {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.logout {
  text-align: center;
}
.hola {
  font-family: Barley;
  font-size: 25px;
}
.hola:hover {
  color: #54565b;
}
a {
  font-family: lato;
  color: #001155;
  text-decoration: none;
  font-size: 25px;
}
a:hover {
  color: #9ed5cb;
}
.message {
  color: #e53e30;
}
li {
  font-family: lato;
}
.homeIcon {
  width: 75px;
  height: auto;
}
button.cart {
  background: #001155;
  color: #b2b2b2;
  font-family: lato;
  border: 1px solid #333;
  line-height: 1em;
  padding: 0.5em 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
button.cart:hover,
button.cart:focus,
button.cart:active,
button.cart.loading {
  background: #9ed5cb;
  color: #fff;
  outline: none;
}
.container {
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
  display: block;
  max-width: 480px;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 98%;
}
.container:before {
  background: url('http://i.imgur.com/QKD3qNr.jpg');
  background-size: cover;
  content: '';
  -webkit-filter: blur(10px);
  filter: blur(10px);
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
}
.container:after {
  background: rgba(255, 255, 255, 0.6);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
form button.submit {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #333;
  line-height: 1em;
  padding: 0.5em 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form button:hover,
form button:focus,
form button:active,
form button.loading {
  background: #001155;
  color: #fff;
  outline: none;
}
form label {
  border-bottom: 1px solid #333;
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form label.col-one-half {
  float: left;
  width: 50%;
}
form label.col-one-half:nth-of-type(even) {
  border-left: 1px solid #333;
  padding-left: 0.25em;
}
form label input {
  background: none;
  border: none;
  line-height: 1em;
  font-weight: 300;
  padding: 0.125em 0.25em;
  width: 100%;
}
form label input:focus {
  outline: none;
}
form label input:-webkit-autofill {
  background-color: transparent !important;
}
form label span.label-text {
  display: block;
  font-size: 0.5em;
  font-weight: bold;
  padding-left: 0.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form label.password {
  position: relative;
}
h1 {
  font-family: Barley;
  font-size: 30px;
  margin-top: 0px;
  text-align: center;
}
h1 img {
  height: auto;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
}
.text-center {
  text-align: center;
}
